<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="hibernate.connection.password">chi-admin</property>
        <property name="hibernate.connection.url">jdbc:hsqldb:hsql://192.168.0.10/Chi</property>
        <property name="hibernate.connection.username">chi-admin</property>
        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>

		<mapping resource="/conf/User.hbm.xml"></mapping>
		<mapping resource="/conf/Site.hbm.xml"></mapping>
		<mapping resource="/conf/Controller.hbm.xml"></mapping>
		<mapping resource="/conf/Actuator.hbm.xml"></mapping>
		<mapping resource="/conf/Sensorclass.hbm.xml"></mapping>
		<mapping resource="/conf/Sensor.hbm.xml"></mapping>
		<mapping resource="/conf/Dayschedulerule.hbm.xml"></mapping>
		<mapping resource="/conf/Regularschedule.hbm.xml"></mapping>
		<mapping resource="/conf/Specialschedule.hbm.xml"></mapping>
    </session-factory>
</hibernate-configuration>
